<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src='javascripts/script.js'></script>
</head>

<body>
    <nav class="navbar">

        <% if (user) { %>
            <div class="nav-link left">
                <a class="" href="/home">myLibrary</a>
            </div>


            <div class="nav-link right">
                <img class="avatar" referrerpolicy="no-referrer" alt="avatar" src="<%= user.avatar %>">
            </div>

            <div class="nav-link right">
                <a class="" href="/logout">Log Out</a>
            </div>

            <div class="nav-link right">
                <a class="" href="/search/start">Search</a>
            </div>



            <% } else { %>
                <a class="" href="/auth/google">Log In</a>
                <% } %>
    </nav>
    <div class="bg">