* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

a {
  color: #00B7FF;
}

p {
  margin: 0;
}

form {
  position: absolute;

}

button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

.main {
  height: 80%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bookshelf-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  border: 1px solid grey;
}

.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  right: 10px;
  position: absolute;
  width: 15px;
  height: 15px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 15px;
  height: 15px;
}


.delete span {
  height: 100%;
  width: 10%;
  min-width: 1px;
  min-height: 10px;
  background: rgba(150, 150, 150, 0.5);
  position: absolute;

  transition: background 0.1s ease;
}

.delete:hover span {
  background: rgba(150, 150, 150, 1);

}

.delete span:first-child {
  transform: rotate(45deg);
}

.delete span:last-child {
  transform: rotate(-45deg);
}

.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: fit-content;
  width: 100%;

  position: relative;
}

.thumbnail {
  background: grey;
  height: 90px;
  width: 60px;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  height: fit-content;
}

/* <div class="bookshelf">
<div class="thumbnail"></div>
<h3>
    <%= b.name %>
</h3>

<p>
    Number of books:
</p>

<p>
    <%= b.numBooks %>
</p>

</div> */