:root {
  /* --span-color: rgba(150, 150, 150, 0.5); */
  --span-color: #000;
  --book-bg: grey;

  --bookshelf-height: 3em;

  --color-btn-add-book: darkgray;
  --color-contrast-btn-add-book: white;
}

* {
  box-sizing: border-box;
}

.btn {
  border: 1px solid black;
  padding: 0.5em;
  text-align: center;
  margin: 0.5em 0;
}

.btn.add-book {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.3em;
}

.btn.add-book:hover {
  background: var(--color-btn-add-book);
  color: var(--color-contrast-btn-add-book);
  border: 1px solid var(--color-btn-add-book);
}

body {}

.bg {
  padding: 50px;
  padding-top: 5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

}



a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

form {}

button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

.main {
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.login-title {
  font-size: 36px;
  margin-bottom: 5px;
}

.bookshelf-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  min-width: 160px;
  border-top: 1px solid black;
  height: 100%;
  /* border: 1px solid grey; */
}

.newandpop-container {}

.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: fit-content;
  width: 100%;
  height: var(--bookshelf-height);
  padding-left: 1em;

  font-size: 14px;
  color: var(--span-color);

  position: relative;
}

.bookshelf.title {
  padding: 1em;
  justify-content: flex-start;
}

.bookshelf.add {
  transition: all 0.2s ease;
  border-bottom: 1px solid var(--span-color);
}

.bookshelf.add:hover {
  opacity: 1;
}

.bookshelf a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

  opacity: 50%;
}

.bookshelf a.first-link {
  position: relative;
  height: 100%;
  width: 15px;
}

.bookshelf a:hover {
  opacity: 1;
}

.add {
  right: 10px;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 15px;
  height: 15px;
}

.add span {
  height: 100%;
  width: 10%;
  min-width: 1px;
  min-height: 10px;
  background: var(--span-color);
  position: absolute;

  transition: background 0.1s ease;
}


.bookshelf:hover div form button span {
  background: rgba(150, 150, 150, 1);
}

.add span:first-child {
  transform: rotate(90deg);
}


.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  right: 10px;
  position: absolute;
  width: 15px;
  height: 15px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 15px;
  height: 15px;
}

.delete span {
  height: 100%;
  width: 10%;
  min-width: 1px;
  min-height: 10px;
  background: rgba(150, 150, 150, 0.5);
  position: absolute;

  transition: background 0.1s ease;
}

.delete span:first-child {
  transform: rotate(45deg);
}

.delete span:last-child {
  transform: rotate(-45deg);
}

.book-thumbnail {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.book-thumbnail img {
  box-shadow: 2px 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  max-height: 175px;
  max-width: 175px;

}

.book-thumbnail:hover img {
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.25);
}

.books-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
  height: 100%;
  /* border: 1px solid grey; */
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.newandpop-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 150px;
  border: 1px solid grey;
  margin-bottom: 2em;
}

.book-results {
  width: 900px;
  padding: 1em;
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.book {
  display: flex;

  padding: 20px;
  border: 1px solid grey;
  height: fit-content;
  width: fit-content;
  min-width: 254px;
  max-width: 270px;

  position: relative;
  margin: 0;
  border-radius: 12px;

  overflow: hidden;
}

.book.vert {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 440px;
  width: 270px;
}

.book.horiz {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-bg {
  width: 100%;
  height: 42%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--book-bg);
}

.book-title {
  font-size: 1.33em;
  line-height: 1.2em;
}

.book.vert .book-title {
  text-align: left;
  margin: 1.2em 0em 0.3em 0em;
}

/* .book.horiz .book-title {
  text-align: left;
  margin: 1em 0em 0.3em 0em;
} */

.book.vert .book-authors {
  text-align: left;
  margin: 0em 0em 0.6em 0em;
}


.book-authors {
  margin: 0em 0em 0.8em 0em;
  font-weight: 400;
}

.book-rating {
  display: flex;
  flex-direction: row;
}

.book-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: fit-content;
  max-height: 41px;
  width: 100%;
  gap: 0.2em;
}

.book-tags span {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 1em;
  padding: 0.4em 0.6em;
  background: rgb(176, 251, 176);
  border-radius: 0.1em;
  margin-top: 0.1em;
  margin-bottom: 0.8em;
  border: inset 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.book-tags span:hover {
  box-shadow: 0em 0em 0 0.1em rgb(176, 251, 176);
}

.star-rating {
  width: calc(14px*5);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 5px 0 0;
}

.star-rating input {
  display: none;
}

label {
  /* border: 1px solid dodgerblue; */
}

.star-rating>label {
  width: 16px;
  height: 16px;
  font-family: Verdana;
  font-size: 16px;
  color: orange;
  position: relative;
  transition: all 0.2s ease;
}

.star-rating label:hover::before {
  content: '\2605';
  transition: all 0.2s ease;
}

.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 14px;
}

.star-rating input:checked~label::before {
  content: '\2605';
}

.star-rating input:not(:checked)+label:hover~label::before {
  content: '\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked~label:before {
    --size: 14px;
    font-size: var(--size);
    line-height: calc((21/36)*var(--size));
  }
}

.login {
  --size: min(40vw, 40vh);
  height: var(--size);
  width: var(--size);

  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login h1 {
  justify-self: flex-start;
}

.bg-flex {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.google-btn-container {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: absolute;
  z-index: 2;
  width: 100vw;
  top: 0;
  height: 3.5em;
  margin: 0;
  left: 0;
  padding: 1em;
  border-bottom: 1px solid black;

  gap: .5em;
}

.nav-link {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.nav-link a:hover {
  opacity: 0.5;
}


.nav-link.right {
  float: right;
  margin-right: 20px;
}

.nav-link.left {
  float: left;
  margin-left: 20px;
}

.search-container {
  width: 100%;
  height: 50px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

label {
  /* position: absolute;
  height: 90%;
  width: 100%; */
}

.search {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
}

.input-placeholder {
  position: absolute;
  transform: translateY(-160%);
  font-style: italic;
  left: 0;
  font-size: 12px;
  transition: all 0.2s ease;
}

.search:focus+.input-placeholder {
  opacity: 0;
}

.search:not(:placeholder-shown)+.input-placeholder {
  opacity: 1;
}

.search:valid+.input-placeholder {
  opacity: 0;
}

.search-results {
  width: 100%;
  height: fit-content;
  border: 2px solid green;
  margin-bottom: 20px;
}

h3,
h4 {
  margin: 0;
}



/* Google button styling from https://codepen.io/tijmenennik/pen/bwYaox (modified by me) */

.google-btn {
  margin: 0px;
  width: 100%;
  min-width: 196px;
  max-width: 196px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 6px;
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;

  border: 1px solid grey;

  transition: all 100ms ease;

  display: flex;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none
}

.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none
}

.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #000;
  font-size: 14px;
  letter-spacing: .2px;
  font-family: Roboto;
  user-select: none
}

.google-btn:hover {
  background: rgba(200, 200, 200, 0.5);
  user-select: none
}

.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none
}

.my-button {
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.bookshelf-select {
  display: block;
  transform: translateY(100%);
}

.avatar {
  width: 30px;
  height: 30px;
}

.full-w {
  width: 100%;
}