<%- include('../partials/header') %>

    <form action="/bookshelves/new" method="POST" autocomplete="off">
        <div class="mb-3">
            <label for="airline" class="form-label">Enter Bookshelf Name</label>
            <input type="text" name="name">

        </div>

        <div class="mb-3">
            <label for="airline" class="form-label">Description</label>
            <input type="text" name="desc">

        </div>

        <input type="submit" class="btn btn-primary" value="Add Bookshelf">
    </form>

    <%- include('../partials/footer') %>